<style>
body {
	text-align:center;
}
</style>
<div class="logo">
	<%= image_tag "logo.png" %>
</div>

<div class="container-fluid">
	<div id="main-content"> 
		<ul> 
			<% @posts.each do |post| %>
				<li>
					<a href="/posts/<%= post.id %>">
						<%= image_tag(post.attachment.to_s) %>
						<span><%= post.club %></span>
					</a>
				</li> 
			<% end %>
		</ul> 
	</div> 
</div> 
