<style>
.logo {
	margin-top:60px;
	text-align:center;
}

.logo_img {
	width:200px;
	height:200px;
}

body{
	color:#666;
	margin-top:20px;
	overflow-x:hidden;
}

a {
	color:#666;
	text-decoration:none;
}
#main-content li{
	border:solid #CCC;
	border-width:0 1px 1px 0;
	background:	#effbff;
	padding:10px;
	display:inline-block;
	margin: 40px 0 40px;
	border-radius:10px;
}

#main-content li img{
	width:20vw;
	height:20vw;
	max-width:200px;
	max-height:200px;
}



</style>
<div class="logo">
	<%= image_tag "logo.png", class:'logo_img' %>
</div>

<div class="container-fluid">
	<div id="main-content">
	<div class="row">
		<% @posts.each do |post| %>
		<div class="col-md-3 center">
			<li>
				<a href="/posts/<%= post.id %>">
					<%= image_tag(post.logo_img.to_s) %>
				</a>
			</li>
		</div>
		<% end %>
	</div>
</div>
