<!DOCTYPE html>
<html>
  <head>
    <title>샤람인</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top ">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/posts">ㅅF람인</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<% if @menu == "view" %>
				<li class="nav-item active">
				<% else %>
				<li class="nav-item">
				<% end %>
					<a class="nav-link" href="/posts">모집 보기<span class="sr-only">(current)</span></a>
				</li>
				<% if @menu == "recruit" %>
				<li class="nav-item active">
				<% else %>
				<li class="nav-item">
				<% end %>
					<a class="nav-link" href="/posts/new">모집 하기</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">마이페이지</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#login-modal">로그인</a>
						<a class="dropdown-item" href="#">로그아웃</a>
						<a class="dropdown-item" href="#">즐겨찾기</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="/">
				<input class="form-control mr-sm-2" type="text" placeholder="동아리 검색" name="q">
				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Go !</button>
			</form>
		</div>
	</nav>
    <%= yield %>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
