.club_intro {
	border: 1px solid #DDD;
	border-radius: 5px;
	padding:5px;
}

.container {
	margin-bottom:20px;
}

.attach_wrapper {
	margin-top:20px;
	background-color:#FAFAFA;
	display: flex;
	justify-content: center;
}
